<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<% layout("/layouts/boilerplate") %>
<style>
    @media screen and (max-width: 450px) {
   .disabled{
       display:none;   
       }
   } 
</style>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Edit the Details</h1>
            <form method="post" action="/listings/<%= listing._id %>/?_method=put" novalidate class="needs-validation" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="obj[title]" value="<%= listing.title %>" type="text" class="form-control" id="title" required>
                    <div class="valid-feedback">Title look's good</div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea name="obj[description]" class="form-control" id="desc" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">enter a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">original listing image</label>
                    <img src="<%= originalurl %>">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload a new Image</label>
                    <input name="obj[image]" type="file" class="form-control" id="image">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="obj[price]" value="<%= listing.price %>" type="number" class="form-control" id="price" required>
                        <div class="invalid-feedback">enter a valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="loc" class="form-label">Location</label>
                        <input name="obj[location]" value="<%= listing.location %>" type="string" class="form-control" id="loc" required>
                        <div class="invalid-feedback">enter a valid location</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" name="obj[category]" class="form-control" required multiple>
                        <option class="disabled" disabled>(single:click) & (Multiple:ctrl+click)</option>
                        <option value="Trending" <%= listing.category === 'Trending' ? 'selected' : '' %>>Trending</option>
                        <option value="Bread & Breakfast" <%= listing.category === 'Bread & Breakfast' ? 'selected' : '' %>>Bread & Breakfast</option>
                        <option value="Amazing pools" <%= listing.category === 'Amazing pools' ? 'selected' : '' %>>Amazing pools</option>
                        <option value="Lake" <%= listing.category === 'Lake' ? 'selected' : '' %>>Lake</option>
                        <option value="BeachFront" <%= listing.category === 'BeachFront' ? 'selected' : '' %>>BeachFront</option>
                        <option value="OMG!" <%= listing.category === 'OMG!' ? 'selected' : '' %>>OMG!</option>
                        <option value="Design" <%= listing.category === 'Design' ? 'selected' : '' %>>Design</option>
                        <option value="Farms" <%= listing.category === 'Farms' ? 'selected' : '' %>>Farms</option>
                        <option value="Amazing views" <%= listing.category === 'Amazing views' ? 'selected' : '' %>>Amazing views</option>
                        <option value="No animals" <%= listing.category === 'No animals' ? 'selected' : '' %>>No animals</option>
                        <option value="Mountain views" <%= listing.category === 'Mountain views' ? 'selected' : '' %>>Mountain views</option>
                        <option value="Campaign area" <%= listing.category === 'Campaign area' ? 'selected' : '' %>>Campaign area</option>
                        <option value="Tropical" <%= listing.category === 'Tropical' ? 'selected' : '' %>>Tropical</option>
                        <option value="24*7 Water" <%= listing.category === '24*7 Water' ? 'selected' : '' %>>24*7 Water</option>
                        <option value="Mosquito free" <%= listing.category === 'Mosquito free' ? 'selected' : '' %>>Mosquito free</option>
                    </select>
                    <div class="invalid-feedback">enter a valid category </div>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="obj[country]" value="<%= listing.country %>" type="string" class="form-control" id="country" required>
                    <div class="invalid-feedback">enter a valid country </div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
</body>

<!-- </html> -->