<% layout("/layouts/boilerplate") %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<style>
    .list-images{
      box-shadow: 0px 6px 5px black;
    }
    .filter-main{
      display: flex;
      align-items: center; 
    }
    .filters{
      display: flex;
      overflow: scroll;
      width:100%;
      align-items: center; 
    }
    .filter{
      margin-right: 1.5rem;
      text-align: center;
      margin-top: 2rem;
      opacity: 0.7;
      white-space: nowrap;
    }
    .filters::-webkit-scrollbar{
      display: none;
    }
    @media screen and (max-width: 712px) {
      .tax-toggle {
        width: 100%; /* Set to 100% width when screen size is 712 pixels or less */
      }
    }
    .filter:hover{
      border-bottom: 2px solid black;
      opacity: 1;
      cursor: pointer;
    }
    .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      padding: 0.5rem;
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      min-width: 220px;
    }
    .tax-info{
      display: none;
    }
    .initial-price{
      display: inline;
    }
    .card-text{
      margin-bottom: 0px;
    }
    .anchor{
      text-decoration: none;
      color:black;
    }
</style>
   
    <div class="filter-main">
      <div class="filters">
        <a href="/listings" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-border-all"></i></div>
            <p>ALL</p>
          </div>
        </a>
        <a href="/listings/filter?q=Trending" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </div>
        </a>
        <a href="/listings/filter?q=Bread%20%26%20Breakfast" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-mug-saucer"></i></div>
            <p>Bread & Breakfast</p>
          </div>
        </a>
        <a href="/listings/filter?q=Amazing%20pools" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
          </div>
        </a>
        <a href="/listings/filter?q=Lake" class="anchor">
          <div class="filter ">
            <div><i class="fa-solid fa-place-of-worship"></i></div>
            <p>Lake</p>
          </div>
        </a>
        <a href="/listings/filter?q=BeachFront" class="anchor">
          <div class="filter ">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>BeachFront</p>
          </div>
        </a>
        <a href="/listings/filter?q=OMG%21" class="anchor">
          <div class="filter ">
            <div><i class="fa-solid fa-meteor"></i></div>
            <p>OMG!</p>
          </div>
        </a>
        <a href="/listings/filter?q=Design" class="anchor">
          <div class="filter ">
            <div><i class="fa-regular fa-object-ungroup"></i></div>
            <p>Design</p>
          </div>
        </a>
        <a href="/listings/filter?q=Tropical" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Tropical</p>
          </div>
        </a>
        <a href="/listings/filter?q=24%2A7%20Water" class="anchor">
          <div class="filter ">
            <div><i class="fa-solid fa-faucet-drip"></i></div>
            <p>24*7 Water</p>
          </div>
        </a>
        <a href="/listings/filter?q=Amazing%20views" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Amazing views</p>
          </div>
        </a>
        <a href="/listings/filter?q=No%20animals" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-hippo"></i></div>
            <p>No animals</p>
          </div>
        </a>
        <a href="/listings/filter?q=Farms" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
          </div>
        </a>
        <a href="/listings/filter?q=Mountain%20views" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountain views</p>
          </div>
        </a>
        <a href="/listings/filter?q=Campaign%20area" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Campaign area</p>
          </div>
        </a>
        <a href="/listings/filter?q=Mosquito%20free" class="anchor">
          <div class="filter">
            <div><i class="fa-solid fa-mosquito"></i></div>
            <p>Mosquito free</p>
          </div>
        </a>
      </div>
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Show price with Tax</label>
        </div>
      </div>
    </div>
    <!-- we adding above create new option in navbar-->
    <div class="row row-cols-lg-3 row-cols-sm-1 row-cols-md-2 mt-5">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top list-images" alt="lising-image" style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body mt-3">
          <p class="card-text">
          <b> <%= listing.title %><br> </b>
          <%= listing.location %>,<%= listing.country %>
          <% if (listing.price !== undefined) { %>
            <p class="initial-price">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
            <p class="tax-info" > &#8377; <%= (listing.price *1.18).toLocaleString("en-IN") %> /night</p>
            <% } else { %>
              Price not available
            <% } %>
          </p>
        </div>
      </div>
    </a>
    <% } %>
    </div>

    <script>
      let taxswitch=document.getElementById("flexSwitchCheckDefault");
      taxswitch.addEventListener("click",()=>{
        let spans=document.getElementsByClassName("initial-price");
        for(span of spans){
        if(span.style.display==="none"){
        span.style.display="inline";
        }else{
          span.style.display="none";
        }
      }
        let textinfo=document.getElementsByClassName("tax-info");
        for(info of textinfo){
          if(info.style.display=="inline"){
          info.style.display="none";
          }else{
            info.style.display="inline";
          }
        }
      });
    </script>
  
<!-- </html> -->

